Projet 2: Clément et Paolo

Chargé la base des donées

In [57]:
import pandas as pd
import re
path = "https://raw.githubusercontent.com/remijul/dataset/master/SMSSpamCollection"
data = pd.read_csv(path, header=None, sep='\t')
data.rename(columns={0:'flag', 1:'text'}, inplace=True)
data

      flag                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

On crée le BOG (bag of things) que tiendra toutes le differents mots

In [ ]:
bog = data['flag'].str.cat(sep = " ") #la combinaison de toutes les strings des mails
bog = list(set(re.split(r"\W+",bog)))

Selection de target